body,
html {
	height: 100%;
	width: 100%;
	background-color: rgb(21, 46, 105);
}

.bg {
	background-image: url(background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.09), -10px 10px 5px 0px rgba(0, 0, 0, 0.09);
}

.faded {
	color: rgba(255, 255, 255, 0.8)
}

.btn-primary {
	background-color: rgba(230, 113, 73, 1);
	border-color: rgb(230, 113, 73);
}

.btn-primary:hover {
	background-color: rgba(230, 113, 73, 1);
	border: 10px solid rgba(230, 113, 73, 1);
}

.short-thick-line {
	width: 25%;
	height: 30%;
	background-color: rgb(230, 113, 73);
}

.text-lg {
	font-size: 2em;
	font-weight: 700;
}
